body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: white;
}
a:active{
    color: white;
}
.Menu{
    padding: 210px 70px 70px 70px;
}
.upVar{
    background-color: #f1f1f1;
    padding: 25px;
    margin-bottom: 25px;
}
.redFont{
    font-size: 25px;
    color: rgb(204, 7, 7);
    font-weight: bolder;
    padding: 0;
    margin: 0;
}
li{
    list-style:none;
    padding: 0 0 0  20px;
    margin: 5px 0;
}
.moveLeft{
    transform: translateX(-390px);
    transition:all 0.3s ease-in-out;
}
.dark{
    filter: brightness(70%);
    transition:all 0.3s ease-in-out;
}
.Brank, .brank{
    border: solid #c2c2c2 0.5px;
    height: 77px;
    cursor: pointer;
    background-color: #cccccc;
    font-size: 25px;
    padding-left: 20px;
}
.Brank{
    width: 98%;
}
.brank{
    width: 110%;
}
.InnerTextText{
    font-size: 25px;
}
.BigPW{
    font-size: 25px;
    font-weight: bold;
}
#oriori{
    margin-bottom: 0;
}
.PasswordInput p{
    margin: 0;
}
table input{
    padding-left: 20px;
    height: 77px;
}