body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
    z-index: -2;
    position: relative;
}
nav{
    position: fixed;
}
.pad{
    width: 1800px;
    background-color: white;
}
.main{
    z-index: -2;
    position: relative;
    top: 170px;
}
.logo{
    width: 175px;
    height: 55px;
    background: url("https://rl6cz18qh.toastcdn.net/eduro/1.9.11/css/../images/common/logo_moe.png") no-repeat 50% / contain;
}
.nav{
    width: 100%;
    height: 70px;
    background-color: rgb(21, 62, 109);
}
.nav p{
    padding: 15px 75px;
    margin: 0;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.underNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #666666;
}
#OOO{
    display: flex;
}
.pad{
    padding: 24px 60px;
}
.underNav .check i, .underNav .Results i{
    font-size: 40px;
    color: #c2c2c2;
}
.back{
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    border: solid #c2c2c2 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.block{
    display: block;
}
.block .big{
    font-size: 25px;
    font-weight: bolder;
}
.block p{
    margin: 0;
}
.main{
    padding: 34px 70px;
}
.information{
    padding: 40px 0 0 0;
    font-size: 23px;
    border-top: solid rgb(196, 196, 196) 0.2px;
    color: #666666;
}
.block .small{
    font-size: 12px;
}
.SchoolName, .NameName, .BirthName, .PasswordName{
    background-color: #e7f3f7;
    border-right: solid #c2c2c2 0.5px;
    text-align: left;
    vertical-align: middle;
    padding: 23px;
}
.SchoolSearch, .NameInput, .BirthInput, .PasswordInput{
    width: 1000px;
    padding: 20px 22px;
}
.Serach{
    margin-left: 7px;
    padding: 0 25px ;
    width: 500px;
    width: 60px;
    background-color: #66788e;
    color: white;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}
.BigSearch{
    padding-top: 10px;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
}
.SchoolSearch .blank, .Serach{
    cursor: pointer;
}
.Serach .SmallSearch{
    margin: 0;
    font-size: 12px;
    cursor: pointer;
}
.name{
    display: flex;
}
td ,th{
    border-bottom: solid #c2c2c2 0.5px;
}
.SchoolName, .SchoolSearch{
    border-top: solid #007eda 2px;
}
.SchoolName p, .NameName p, .BirthName p, .PasswordName p{
    margin: 0;
}
.name{
    font-size:25px;
    font-weight: bolder;
}
#name{
    color: red;
}
.SmallBirth, .SmallSchool, .SmallName, .SmallPW{
    font-size: 12px;
    font-weight: 100;
}
.blank{
    border: solid #c2c2c2 0.5px;
    width: 330px;
    height: 70px;
    cursor: pointer;
}
.SchoolSearch{
    display: flex;
}
table{
    border-collapse: collapse;
}
._{
    padding: 0 650px 0 0;
}
.nameinput{
    cursor: pointer;
    height: 72px;
    width: 1000px;
    border: solid #c2c2c2 0.5px;
}
.birthinput{
    cursor: pointer;
    height: 72px;
    border: solid #c2c2c2 0.5px;
    font-size: 20px;
    width: 170px;
    outline: none;
}
.BirthInput p, .PasswordInput p{
    font-size: 25px;
    color: #666666;
}
.nameinput:focus{
    outline: none;
    font-size: 30px;
}
.PWinput{
    cursor: pointer;
    height: 72px;
    width: 1000px;
    font-size: 20px;
    border: solid #c2c2c2 0.5px;
}
.PWinput:focus{
    outline: none;
}
.bottom{
    width: 100%;
    height: 80px;
    margin: 30px 0;
    background-color: #007eda;
    border: 0px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.bottomdiv{
    background-color: #f1f1f1;
}
.flex{
    display: flex;
    font-weight: bolder;
}
.red{
    color: red;
}
.words{
    padding: 30px;
    font-size: 25px;
    color: #666666;
}
.words p{
    margin: 7px 0 7px 0;
}
#origina{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(248, 210, 105);
    border: 0px;
}
#I{
    color: white;
    font-size: 40px;
}