.upVar{
    position: relative;
    top: 190px;
    z-index: -1;
}
.mainVar{
    padding: 20px 74px;
}
li .redFont{
    color: #666666;
    font-weight: 400;
}
table{
    position: relative;
    top: 190px;
    z-index: -1;
}
#firstBrank, #secondBrank, #thirdBrank{
    width: 980px;
}
.bottom{
    position: relative;
    top: 200px;
    background-color: rgb(207, 94, 94);
}