.upVar{
    position: relative;
}
.mainVar{
    padding: 20px 74px;
    position: relative;
    z-index: -1;
    top: 200px;

}
li .redFont{
    color: #666666;
    font-weight: 400;
}
table{
    position: relative;
}
#firstBrank, #secondBrank, #thirdBrank{
    width: 980px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}
.bottom{
    position: relative;
    background-color: rgb(207, 94, 94);
}